/* ============================= */
/* RESET & GLOBAL */
/* ============================= */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h2, h3 {
    color: #00a2c6;
}

/* ============================= */
/* NAVIGATION */
/* ============================= */

nav {
    background-color: #00a2c6;
    padding: 5px;
    position: sticky;
    top: 0;
}

nav ul {
    padding-inline: 4rem;
    display: flex;
    gap: 2rem
}

nav li {
    
    list-style-type: none;
    
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

nav a:hover {
    font-weight: bold;
}


/* HEADER */
header {
    display: inline;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #00c8eb;
    text-align: center;
    color: white;
}


/* MAIN LAYOUT */

main {
    padding: 20px;
    overflow: auto; /* clear float */
    display: flex;
    gap: 1.5rem;
}

#content {
    float: left;
    width: 75%;
    flex: 5;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

aside {
    float: right;
    width: 25%;
    padding-left: 20px;
    flex: 1;
}


/* CARD */


.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    background-color: white;
}


/* IMAGE */

figure {
    margin: 20px 0;
    text-align: center;
}

.featured-image {
    width: 100%;
    max-width: 700px;
    height: auto;
    margin: 15px auto;
    display: block;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}



figcaption {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}

/* ============================= */
/* PROFILE */
/* ============================= */

.profile header {
    text-align: center;
}

.profile img {
    width: 200px;
}

/* ============================= */
/* FOOTER */
/* ============================= */

footer {
    text-align: center;
    padding: 20px;
    color: white;
    background-color: #00a2c6;
    font-weight: bold;
}

/* ============================= */
/* RESPONSIVE */
/* ============================= */

/* TABLET */
@media screen and (max-width: 1000px) {

    #content,
    aside {
        width: 100%;
        padding: 0;
        float: none;
    }

    aside {
        margin-top: 20px;
    }
}

/* MOBILE */
@media screen and (max-width: 768px) {

    .jumbotron {
        padding: 30px 15px;
        font-size: 16px;
    }

    nav li {
        display: block;
        margin: 10px 0;
        text-align: center;
    }

    nav {
        padding: 10px 0;
    }

    main {
        padding: 10px;
    }

    .featured-image {
        margin: 10px 0;
    }
}

/* Perangkat dengan lebar layar 1200px dan di bawahnya */
@media screen and (max-width: 1200px) {
  main {
    flex-flow: column nowrap;
  }
  main aside {
    align-self: center;
  }
}
